@font-face {
  font-family: 'Figtree';
  src: url('/fonts/Figtree-VariableFont_wght.ttf');
}

* {
  font-family: 'Figtree', sans-serif;
  color: var(--clr-gray-950);
}

h1 {
  font-size: var(--fs-700);
  font-weight: 800;
  line-height: var(--lh-l);
}

p {
  font-size: var(--fs-400);
}