.card {
  display: grid;
  gap: var(--sp-200);
  padding: var(--sp-200);
  width: min(90%, 24em);
  position: relative;
  background-color: var(--clr-white-500);
  border: 1px solid var(--clr-gray-950);
  border-radius: var(--br-l);
  box-shadow: 8px 8px 0 0 #111111;
  transition: 150ms;

  &:hover {
    box-shadow: 12px 12px 0 0 #111111;
    transform: translate(-4px, -4px);

    & .card__details--hover {
      color: var(--clr-yellow-500);
    }
  }

  &__image {
    width: 100%;
    border-radius: var(--br-m);
  }

  &__details {
    & > *:not(:last-child) {
      margin-bottom: var(--sp-150);
    }

    &--tag {
      display: inline-block;
      padding: var(--sp-50) var(--sp-150);
      font-weight: 700;
      background-color: var(--clr-yellow-500);
      border-radius: var(--br-s);
    }

    &--medium {
      font-weight: 500;
    }

    &--gray {
      color: var(--clr-gray-500);
    }

    &--hover {
      transition: 150ms;
    }
  }

  &__author {
    display: flex;
    align-items: center;
    gap: var(--sp-150);

    &--bold {
      font-weight: 800;
    }
  }

  &__author-image {
    width: 2rem;
  }
}